# port of web socket server - should be 2567
PORT=2567
# environment, should stay `production`
# debug will run inspection tool for colyseus back-end server
NODE_ENV='production'

# limit of active lobby rooms on server
LOBBY_LIMIT=2
# limit of active session rooms on server
SESSION_LIMIT=2

# limit of spectators in each lobby room
LOBBY_PLAYER_LIMIT=10
# limit of spectators in each session room
SESSION_PLAYER_LIMIT=10