// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
  font-family: ubuntu;
  src: url(./fonts/ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: ubuntu-medium;
  src: url(./fonts/ubuntu/Ubuntu-Medium.ttf);
}

body {
  font-family: 'ubuntu';
  letter-spacing: 0.01rem;
  font-size: 0.95rem;
  line-height: 1.7rem;
}

body.body--light {
  background-color: $background;
  color: $dark;
}

body.body--dark {
  background-color: $dark;
  color: $background;
}

.q-table__container,
.q-card {
  margin: 5px;
  box-shadow: none;
  border: 2px solid $dark;
  background-color: $background;

  .body--dark & {
    border: 2px solid $background;
    background-color: $dark;
  }
}

.q-drawer {
  background-color: $background;
  border: none;
  border-right: 2px solid $dark !important;

  .body--dark & {
    background-color: $dark;
    border-right: 2px solid $background !important;
  }
}

.custom-outline {
  border: 2px solid $dark;

  .body--dark & {
    border: 2px solid $background;
  }
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;

  .body--light & {
    border: 1px solid $primary;
  }
}