// $background     : #eaeff3;
// $primary        : #1976D2;
// $secondary      : #26A69A;
// $accent         : #9C27B0;

// $dark      : #1D1D1D;
// $dark-page : #121212;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;

$background     : #fdcf8e;
$primary        : #735231;
$secondary      : #ee6c18;
$accent         : #f05871;

$dark      : #3b0902;
$dark-page : #3b0902;

$positive  : #3cb54b;
$negative  : #da1316;
$info      : #99b4bf;
$warning   : #fef200;
